<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>News App</span>
      <span class="example-spacer"></span>
      <a
        mat-button
        [routerLink]="['/news']"
        routerLinkActive="router-link-active"
        >News</a
      >
      <a
        mat-button
        [routerLink]="['/weather']"
        routerLinkActive="router-link-active"
        >Weather</a
      >
      <a
        mat-button
        [routerLink]="['/employees']"
        routerLinkActive="router-link-active"
        >Empleados</a
      >
    </mat-toolbar-row>
  </mat-toolbar>
</p>
